/* TODO: IE conditional classes */
/* TODO: Convert px sizes to ems */

/* TODO */
/*@font-face {}*/

/* HTML5 display definitions
---------------------------------------- */

* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
	display: block;
}

/* Corrects inline-block not defined in IE6/7/8 and FF3 */
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
}

/* Ensures content is hidden from all presentations, including screenreaders */
[hidden] {
	display: none;
	visibility: hidden;
}

/* Base structure
---------------------------------------- */

/*
	* The body will work like a 'div#wrapper' (for this to work, the 'body' needs to have a set width)

	* To add a background to the PAGE, set it in the 'html' element
	* To add a background to the WRAPPER, set it in the 'body' element
*/
html {
	height: 100%;
  font-size: 112.5%; /* 18px */
  /*font-size: 100%;*/
	overflow-y: scroll; /* Force a scrollbar in non-IE */
	-webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust on orientation change without disabling user zoom */
	-ms-text-size-adjust: 100%;
}

body {
	height: 100%;
	margin: 0 auto;
}

/* Fonts settings based on the 100E2R standard: http://www.informationarchitects.jp/en/100e2r/ */
body, button, input, select, textarea {
	color: #222;
}

/* Add and/or remove tags as your baseline grid needs */
p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, h4, h5, h6, img, figure, figcaption, button, hr {
  line-height: 1.3333em; /* 24px */
  margin: 0 0 1.3333em 0;
}

/* =Headings/small
---------------------------------------- */

body {
  font-family: "PT Sans", Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.mega {
  font-size: 4.1667em; /* 75px */
  line-height: 1.28em; /* 96px */
  margin-top: 0.32em;
  margin-bottom: 0em;
}

h1, .h1 {
  font-size: 1.5556em; /* 28px */
  line-height: 1.7143em; /* 48px */
  margin-top: 0.8571em;
  margin-bottom: 0em;
}

h2, .h2 {
  font-size: 1.1111em; /* 20px */
  line-height: 1.2em; /* 24px */
  margin-top: 1.2em;
  margin-bottom: 0em;
}

h3, .h3 {
  font-size: 1em; /* 18px */
  line-height: 1.3333em; /* 24px */
  margin-top: 1.3333em;
  margin-bottom: 0em;

  font-family: bold;
}

small, .small {
  font-size: 0.7778em; /* 14px */
  line-height: 1.7143em; /* 24px */
  margin-top: 1.7143em;
  margin-bottom: 0em;
}

/* Preformatted text and code
---------------------------------------- */

/* Allows line wrapping of 'pre' */
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre, code, kbd, samp {
	font: 1em/1.625em Menlo, Consolas, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

/* Tables
---------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	text-align: left;
}

tr, th, td {
	padding-right: 1.625em;
}

/* Forms
---------------------------------------- */

form {
	margin: 0;
}

fieldset {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

legend {
	border: 0;
	*margin-left: -7px;
}

button, input, select, textarea {
	vertical-align: baseline;
	*vertical-align: middle;
}

button, input {
	line-height: normal;
	*overflow: visible;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button, table input {
	*overflow: auto;
}

/* Quotes
---------------------------------------- */

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

blockquote, q, cite {
	font-style: italic;
}

blockquote {
	padding-left: 1.625em;
	border-left: 1px solid #ddd;
}

blockquote > p {
	padding: 0;
}

/* Lists
---------------------------------------- */

ul, ol {
	list-style-position: inside;
	padding: 0;
}

li ul, li ol {
	margin: 0 1.625em;
}

dl dd {
	margin-left: 1.625em;
}

/* Links
---------------------------------------- */

a, a:visited {
	text-decoration: none;
	color: #06c;
}

a:hover {
	border-bottom: 1px solid;
}

a:focus {
	outline: thin dotted;
}

/* Better CSS outline suppression: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
	outline: none;
}

/* Figures
---------------------------------------- */

figure {
	margin: 0;
}

/* Embedded content
---------------------------------------- */

img, object, video {
	max-width: 100%; /* Automatically scales images larger than the container. Consider this first: http://unstoppablerobotninja.com/entry/fluid-images/ */
	/* _width: 100%; /* IE6 doesn't support max-width, so we just use width. If the image is larger than the container, just uncomment this. If it is smaller than the container, uncomment and change the 100% value to an absolute one */
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic; /* Improve IE's resizing of images: css-tricks.com/ie-fix-bicubic-scaling-for-images */
}

/* Corrects overflow displayed oddly in IE9 */
svg:not(:root) {
	overflow: hidden;
}

/* Abbreviations
---------------------------------------- */

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

/* Marked/inserted/deleted text
---------------------------------------- */

mark {
	background: #ff0;
}

ins {
	text-decoration: none;
	background: #ff9;
}

del {
	text-decoration: line-through;
}

/* Others
---------------------------------------- */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-bottom: 1px solid #ddd;
}

strong, b, dt {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

var, address {
	font-style: normal;
}

/* Position 'sub' and 'sup' without affecting line-height: gist.github.com/413930 */
sub, sup {
	font-size: 0.625em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* =Helper classes
---------------------------------------- */

/*
	* Micro clearfix hack, more semantically titled with 'group'
	* Source: nicolasgallagher.com/micro-clearfix-hack/
*/
.group:before, .group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}

.depth {
    display: block;
    padding: 50px;
    color: black;
    position: relative;
}

.depth:before, .depth:after {
    content: attr(title);
    padding: 50px;
    color: rgba(255,255,255,.1);
    position: absolute;
}

.depth:before { top: 1px; left: 1px }
.depth:after  { top: 2px; left: 2px }

.visually-hidden {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* =Primary styles
---------------------------------------- */

/* Header and Navigation */

.navigation {
  font-family: "Sound System Regular", Verdana, sans-serif;
  position: absolute;

  margin-left: 10.99%; /* 1 col, 2 gut // 106 / 964 */
  width: 53.73%; /* 7 col, 6 gut // 518 / 964 */
  z-index: 10;
}

.navigation-title {
  /* Mixins: .mega */
}

.navigation-list {
  /* Mixins: .h1 */
  font-family: "SquareFont", "Sound System Regular", Verdana, sans-serif;
  line-height: 1em;
  list-style-type: none;
  margin-top: 0;
}

.navigation-list a:hover {
  border-bottom: none;
}

/* General Styles for Pages */
.page-section {
  min-height: 100%; /* TODO: Should it be min-height or height? */
  padding-top: 4.75em;
  width: 100%;
  z-index: -1;
}

.section-name {
  /* Mixins: .visually-hidden */
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

/* -Home Page */

#page-home {
  background: #222 url('../img/dark_dotted.png') repeat top left;
  color: #E5E5E5;
}

#page-home .logo {
  float: left;
  margin-top: 11em;
  margin-left: 10.99%; /* 1 col, 2 gut // 106 / 964 */
  width: 24.27%; /* 3 col, 3 gut // 234 / 964 */
}

#page-home .text-section {
  float: left;
  margin-left: 2.9%; /* 1 gut // 28 / 964  */
  width: 45.64%; /* 6 col, 5 gut // 440 / 964 */
}

.introduction-updates-list {
  list-style-type: none;
}

/* -Information Page */

#page-info {
  background: #EEE;
}

#page-info .with-section-selector {
  /* Mixins: .group */
  background-color: white;
  border: 1px solid #CCC;
  margin-left: 25.51%; /* 3 col, 3.5 gut // 248 /964 */
  min-height: 75%;
  width: 61.82%; /* 8 col, 7 gut // 596 / 964 */
}

#info-section-selector {
  background-color: #F5F5F5;
  -webkit-box-shadow:  4px 1px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow:  4px 1px 10px 0px rgba(0, 0, 0, 0.3);
  float: left;
  height: 100%;
  padding-right: 2.35%; /* TODO: Align this */
  padding-bottom: 5%;
  text-align: right;
  width: 23.82%; /* 2 col, 1.5 gut // 142 / 596 */
}

#page-info .section-selector-items {
  /* Mixins: .h2 */
  list-style-type: none;
  margin-top: -0.125em;
}

#info-text {
  float: left;
  margin-left: 2.35%; /* 0.5 gut // 14 / 596 */
  width: 73.83%; /* 6 col, 5 gut // 440 / 596 */
  overflow-y: scroll;
  padding-right: 2.35%;
}

/* -Leaders Page */

#page-leaders {
  background: #F4E900;
}

.leaders-list {
  /* Mixins: .class-for-42px */
  font-family: "SquareFont", "Courier New", monospace;
  font-size: 2.3333em; /* 42px */
  line-height: 1.1429em; /* 48px */
  margin-top: 0.5714em;
  margin-bottom: 0em;
  margin-left: 35.37%; /* 4 col, 5 gut // 340 / 964 */
  width: 53.73%; /* 7 col, 6 gut // 518 / 964 */
}

.leaders-list li:first-child {
  /* Mixins: mega */
  font-size: 1.7857em; /* 75px */
  line-height: 1.28em; /* 96px */
  margin-top: 0.32em;
  margin-bottom: 0em;
}

/* -Blog Page */

#page-blog {
  background: #DDD url('../img/project_paper.png') repeat top center;
}

#page-blog .with-section-selector {
  /* Mixins: .group */
  margin-left: 25.51%; /* 3 col, 3.5 gut // 248 /964 */
  min-height: 75%;
  width: 61.82%; /* 8 col, 7 gut // 596 / 964 */
}

#blog-section-selector {
  float: left;
  height: 100%;
  padding-right: 2.35%; /* TODO: Align this */
  padding-bottom: 5%;
  text-align: right;
  width: 23.82%; /* 2 col, 1.5 gut // 142 / 596 */
}

#page-blog .section-selector-items {
  /* Mixins: .h2 */
  list-style-type: none;
  margin-top: -0.125em;
}

#blog-text {
  float: left;
  margin-left: 2.35%; /* 0.5 gut // 14 / 596 */
  width: 73.83%; /* 6 col, 5 gut // 440 / 596 */
  overflow-y: scroll;
  padding-right: 2.35%;
}

/* -Calendar Page */

#page-calendar {

}

/* =State Dependent Styles
---------------------------------------- */

/* Header style changes depending on what page it's in. */
.navigation.is-home .navigation-title {
  color: white;
}
.navigation.is-info { }
.navigation.is-leaders { }
.navigation.is-blog { }
.navigation.is-calendar { }

/* Media queries
---------------------------------------- */

/* The media queries included in here are only placeholder. Modify them as your content requires */

@media only screen and (min-width: 481px) {
	/* Wide mobile (480px+) styles go here */
}

@media only screen and (min-width: 768px) { 
	/* Tablets/netbooks (768px+) styles go here */
}

@media only screen and (min-width: 1024px) { 
	/* Desktops (1024px+) styles go here */
}

/* Print styles
---------------------------------------- */

/* Print styles inlined to avoid extra HTTP connection */

@media print {
	* {
		background: transparent !important;
		color: black !important; /* Black prints faster: sanbeiji.com/archives/953 */
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}

	a, a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/* Do not show javascript and internal links */
	a[href^="javascript:"]:after, a[href^="#"]:after {
		content: ""; 
	}

	/* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */
	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	@page {
		margin: 0.5cm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
}
